.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.63rem;
  border-radius: 10px;
  border: none;
  border: 5px solid transparent;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
  cursor: pointer;
}

.tabs {
  max-width: 250px;
  padding: 0.88rem 2rem;
  font-weight: 700;
  color: $color-black;
  background-color: $color-white;

  @include hover {
    color: $color-white;
    background-color: $color-gray;
    border-color: $color-mindaro;
  }

  &:active {
    background-color: color.adjust($color-gray, $lightness: -5%);
  }
}

.default {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
