.dropdown {
  background-color: white;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

  @include hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}

.body {
  display: none;
  border-top: 1px solid $color-light-gray;

  &.open {
    display: block;
  }
}

.item {
  padding: 0.63rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:last-child {
    border-radius: 0px 0px 10px 10px;
  }

  @include hover {
    background-color: $color-linen;
  }

  &.selected {
    background-color: $color-mindaro;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}