.navbar {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &Wrapper {
    padding: 1.5rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

.button {
  @include navbar-button;
}

.delete {
  @include navbar-button-delete;
}
