$xs: 400px;
$sm: 768px;
$lg: 1024px;

$primary-font: 'Nunito', sans-serif;
$secondary-font: 'Inter', sans-serif;

$color-black: #000000;
$color-white: #ffffff;
$color-rich-black: #0d1321;
$color-linen: #ffeddf;
$color-mindaro: #c5d86d;
$color-gray: #333333;
$color-light-gray: #e5e5e5;
$color-red: #f95454;