.wrapper {
  position: fixed;
  z-index: 5;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  z-index: 10;
  padding: 0 1rem;
}

.delete {
  background-color: transparent;
  box-shadow: none;
  
  @include delete-icon(5px, 24px);

  @include mobile {
    display: none;
  }

  &::before,
  &::after {
    @media (max-width: $xs) {
      width: 15px;
    }
  }
}
