.navbar {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &Wrapper {
    padding: 1.5rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }

  @include mobile {
    width: 100%;
    flex-direction: column;
    align-items: normal;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

.titleLabel {
  position: relative;

  @include mobile {
    & input {
      width: 100%;
    }
  }
}

.button {
  @include navbar-button;
}

.delete {
  @include navbar-button-delete;
}

.deleteIcon {
  background-color: transparent;
  box-shadow: none;

  @include delete-icon(16px, 16px);

  @media (max-width: $xs) {
    display: none;
  }
}
