.button {
  display: block;
  margin-bottom: 0.5rem;

  @include button;

  padding: 1rem 2rem;
  font-weight: 700;
}

.show {
  display: none;
}

.addQuestion {
  width: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;

  @include mobile {
    flex-direction: column;
    gap: 1rem;
  }
}
