.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &Wrapper {
    padding: 1.5rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
}

.input {
  width: 400px;
  padding: 1rem;

  @include input;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.13rem;
}

.button {
  display: block;
  margin-bottom: 0.5rem;
  padding: 1rem 2rem;
  font-weight: 700;
  background-color: $color-mindaro;

  @include hover {
    background-color: color.adjust($color-mindaro, $lightness: -20%);
  }

  &:active {
    background-color: color.adjust($color-mindaro, $lightness: -10%);
  }
}

.show {
  display: none;
}

.addQuestion {
  width: 100%;
}

.delete {
  background-color: $color-red;

  @include hover {
    background-color: color.adjust($color-red, $lightness: -20%);
  }

  &:active {
    background-color: color.adjust($color-red, $lightness: -10%);
  }
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
