.inputs {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.error {
  display: block;
  margin-top: 0.63rem;
  color: $color-red;
  font-size: 0.88rem;
  transition: opacity 0.1s ease;

  &::first-letter {
    text-transform: capitalize;
  }
}

.button {
  margin-top: 1.25rem;

  @media (max-width: $xs) {
    max-width: 100%;
    width: 100%;
  }
}

.admin {
  display: flex;
  align-items: center;
  gap: 1rem;
	margin-top: 0.6rem;
  cursor: pointer;
}
