.input {
  @include input;
}

.hidden {
  display: none;
}

.checkbox {
  position: relative;
  width: 25px;
  height: 25px;
  border: 3px solid $color-light-gray;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  cursor: pointer;

  @include hover {
    border-color: $color-mindaro;
  }
}

.checkmark {
  position: absolute;
  left: 4px;
  top: 4px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.checkmark::after {
  position: absolute;
  width: 11px;
  height: 11px;
  background-color: $color-mindaro;
  border-radius: 1px;
  content: '';
}

.checkInput:checked ~ .checkmark {
  opacity: 1;
}
